mainmenu "Runikraft/0.1.0 Configuration"

menu "Memory and CPU Configuration"
    config HEAP_SIZE
        int "Heap size(MiB)"
        default 16

    config STACK_SIZE_PAGE_ORDER
        int "Page order of stack size(log STACK_SIZE)"
        default 4
    
    menu "Limit Configuration"
        config MEMORY_SIZE
            int "the maximum size of memory(B)"
            default -1
			help
                -1: unlimited

        config OPEN_FILES
            int "the maximum size of open files"
            default 1024

        config PIPE_FILES
            int "the maximum size of pipe files"
            default 4096
		
		config CPU_TIME
            int "the limit of CPU time(ms)"
			default -1
			help
                -1: Duration::MAX
    endmenu

    config LCPU_MAXCOUNT
        int "the maximum count of CPU(less than 8)"
        default 8

    config MAIN_STACK_SIZE
        int "the main stack size(B)"
        default 65536
    
    config PAGE_SZIE
        int "the page size(B)"
        default 4096
endmenu

menu "Library Configuration"
    menu "rkplat features"
        config has_smp
            bool "Symmetric multiprocessor support"
			default y
            
        config save_fp
            bool "Save floating point registers when thread switches"
			default n

        config driver_uart
            bool "Uart device driver"
			default n

        config driver_ns16550
            bool "ns16550 driver"
			default y
            select driver_uart

        config driver_virtio
            bool "Virtio driver"
			default n
            help
              Depend on volatile-v0.3 and bitflags-v1.3

        config driver_virtio_blk
            bool "Virtio block driver"
			default y
            select driver_virtio

        config driver_virtio_console
            bool "Virtio console driver"
			default y
            select driver_virtio

        config driver_virtio_gpu
            bool "Virtio GPU driver"
			default y
            select driver_virtio

        config driver_virtio_input
            bool "Virtio input driver"
			default y
            select driver_virtio

        config driver_virtio_net
            bool "Virtio net driver"
			default y
            select driver_virtio

        config driver_rtc
            bool "Real time clock driver"
			default n

        config driver_goldfish_rtc
            bool "Goldfish real time clock driver"
			default y
            select driver_rtc

        config bios_io
            bool "Use BIOS to output"
			default n
    endmenu

	menu "rkboot features"
        config have_scheduler
            bool "Have scheduler"
            help
              Depend on rksched

        config sched_coop
            bool "Cooperative scheduler"
			default y
            select have_scheduler
            help
              Depend on rksched and rkschedcoop
	endmenu
endmenu

menu "Make Build Configuration"
    choice
        prompt "Make build type"
        default debug

        config debug
            bool "debug type"
            help
                Compile without "--release"
        config release
            bool "release type"
            help
                Compile with "--release"
    endchoice
endmenu
